body{height:3000px;}
.header{width: 100%;height:1100px;}
.header .container{width: 1170px;margin: 0 auto}
.header .slider {height: 1000px; ;background-image: url(first.gif);background-size: cover;}
.header .slider .cover{text-align: center;padding-top:500px;}
.header .slider .cover h2{font-size: 26px;color: gold;font-weight: bold;text-transform: uppercase;border-top:solid white 3px;
border-bottom: solid white 3px;margin-bottom: 40px}
.header .slider .cover button{color: tomato;background-color: green;text-transform: capitalize;font-size: 18;font-family: Arial, Helvetica, sans-serif
;width: 120px;height: 50;border: 2px solid yellow;font-weight: bold;}
.header .navbar {background-color: black;height: 100px;overflow: hidden;}
.header .navbar h2{color:red;text-transform: uppercase;float: left;font-size: 24px}
.header .navbar h2 span{color: green;}
.header .navbar ul{float: right;list-style: none;}
.header .navbar ul li {float: left;padding-right: 30px;}
.header .navbar ul li a{text-transform: uppercase;color: red;font-size: 24px;}
.header .navbar ul li a:hover{color: green;font-size: 30px;text-decoration:none;}
.courses{height: 1000px;background-color: peachpuff;overflow: hidden;padding-top: 50px;}
.courses .cour{width: 33.3333%;float: left;text-align: center;padding-top: 50px;}
.courses .cour img{height: 200px;width: 200px;border: 3px solid red}
.courses .cour h2{color: red}
.courses .cour button{color: green;text-transform:capitalize;background-color: gold;}
.photos{background-color:black;overflow: hidden;}
.photos .hp {text-align: center;color: red;}
.photos .img1 {width: 33%;float: left;text-align: center; }
.photos .img1 img{width: 200px;height: 200px;border: 3px solid red;margin-bottom: 10px;}
.contact{background-color: pink;overflow: hidden;}
.contact .head{text-align: center}
.contact .pic{float: left;width: 50%}
.contact .one{width: 50%;float: right;}
.contact .one input[type="text"]{border: 3px solid red; border-radius: 20px;width: 400px;height: 60px;}
.contact .one input[type="email"]{border: 3px solid red; border-radius: 20px;width: 400px;height: 60px;}
.contact .one textarea{border: 3px solid red;border-radius: 20px;}