body{margin: 0;padding: 0;max-width: 100%;}
header .navbar{background-color:rgb(255, 115, 0);color: white;overflow: hidden;height: 70px;border-radius: 6px;}
header .navbar .logo img{float: left;border-radius: 6px;margin: 10px;}
header .navbar .link ul{list-style: none;float: right;overflow: hidden;margin: 10px;}
header .navbar .link ul li {padding: 10px;float: left;}
header .navbar .link ul li a{color:rgb(255, 115, 0);display: inline-block;background-color:white;text-decoration: none;padding: 10 20;
font-size: bold; text-transform: capitalize;border-radius: 6px;}
header .navbar .link ul li a:hover{background-color:red;color: white}
.cycle-slideshow{height: 65%; display: block;}
.cycle-prev{font-size: 100%;display: block;color: rgb(255, 115, 0);position: absolute;top: 40%;z-index:999;cursor:pointer;left:5%;}
.cycle-next{font-size: 100%;display: block;color: rgb(255, 115, 0);position: absolute;top: 40%;z-index:999;cursor: pointer;right:5%;}
.head .marquee{background-color:rgb(255, 115, 0);color: white;overflow: hidden;height: 40px;border-radius: 6px}
.head .marquee p{padding-bottom: 10px;float: left;text-transform: capitalize;color: blue;font-size: 20px;margin: 10px;}
 main .frist{text-align: center}
 main .frist .goog-te-combo{width: 150px;height: 30px;color:rgb(255, 115, 0);background-color:white;border-radius: 6px;}
 main .frist .goog-te-combo ar{float: right;}
 main{width: 100%}
 main  h2{font-size:25px;color:rgb(255, 115, 0);text-align: center;}
 main  p{font-size: 18px;color: blue;}
 footer{background-color:rgb(255, 115, 0);height: 150px;}
footer .textbar{background-color:rgb(255, 115, 0);color: white;overflow: hidden;height: 150px;border-radius: 6px}
footer .textbar p{border-radius: 6px;margin: 20px;font-size: 20px;color: green;text-align: center; align-content: center}
footer .textbar .link {list-style: none;;overflow: hidden;margin: 10px;}
footer .textbar .link a{color:rgb(255, 115, 0);display: inline-block;background: none;text-decoration: none;padding: 10 20;
font-size: bold; text-transform: capitalize;border-radius: 6px;}
